body {
    background-color:#3D486C;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 370px;
    margin-top: 50px;
    background-color: #445175;
    color: #DFDFEF;
    padding: 11px;
    border-radius: 4px;
}

@media (max-width: 770px) {
    .container{
        margin: 0 10%;
    }
    .image {
        width: 100%;
    }
}